html{
	  width: 100%;
      height: 100%; 
}
body{
  background-position:center;
  background-image: url("shooting star.jpg");
  background-size: cover;
  }

.bg-light{
 border-radius: 10px;
 background-color: #F05F44;
 margin-top: 5px;
}

.display-4 {
	font-family: timenew roman;
	text-transform: uppercase;
	font-size: 2rem;
	color: white;
	margin-top: 50px;
}
.images{
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-gap: 20px;


}
img{
	transition: all 1s;
}
img:hover{
	transform: scale(1.1);
}

	
